@font-face {
    font-family: "DejaVu Sans";
    font-style: normal;
    font-weight: normal;
    src: url("DejaVuSans.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: normal;
    font-weight: bold;
    src: url("DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic, oblique;
    font-weight: normal;
    src: url("DejaVuSans-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic, oblique;
    font-weight: bold;
    src: url("DejaVuSans-BoldOblique.ttf") format("truetype");
}
