@font-face {
    font-family: "DejaVu Serif";
    font-style: normal;
    font-weight: normal;
    src: url("DejaVuSerif.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Serif";
    font-style: normal;
    font-weight: bold;
    src: url("DejaVuSerif-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Serif";
    font-style: italic, oblique;
    font-weight: normal;
    src: url("DejaVuSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Serif";
    font-style: italic, oblique;
    font-weight: bold;
    src: url("DejaVuSerif-BoldItalic.ttf") format("truetype");
}
