@font-face {
    font-family: "DejaVu Serif";
    font-style: normal;
    font-weight: normal;
    src: url("{{asset('/static/fonts/dejavu/DejaVuSerif.ttf')}}") format("truetype");
}

@font-face {
    font-family: "DejaVu Serif";
    font-style: normal;
    font-weight: bold;
    src: url("{{asset('/static/fonts/dejavu/DejaVuSerif-Bold.ttf')}}") format("truetype");
}

@font-face {
    font-family: "DejaVu Serif";
    font-style: italic, oblique;
    font-weight: normal;
    src: url("{{asset('/static/fonts/dejavu/DejaVuSerif-Italic.ttf')}}") format("truetype");
}

@font-face {
    font-family: "DejaVu Serif";
    font-style: italic, oblique;
    font-weight: bold;
    src: url("{{asset('/static/fonts/dejavu/DejaVuSerif-BoldItalic.ttf')}}") format("truetype");
}
